# Dependencies
node_modules/

# Build output
dist/
build/
out/

# Electron
electron-builder/
release/
*.exe
*.dmg
*.zip

# Environment variables
.env
.env.local

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
